.hero{
    height: 100vh;
    background: linear-gradient(180deg, #f77c7c,#d16969 80%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;

}
.hero-left h2{
    color:rgb(99, 19, 99);
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: rgb(89,5,89);
    font-size: 100px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: rgb(89,5,89);
    color: #f77c7c;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    width: 50%;
    height:60%;
}