.navbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center; /* Vertically centers the items */
    gap: 10px;
}
.nav-logo img{
    max-width: 100px;
    max-height: 100px;
    
}
.nav-logo p{
    font-size: 60px;
    font-weight: 600;
    color: plum;
    
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(242, 190, 242);

}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: beige;
}
.nav-login-cart img{
    max-width: 50px;
    max-height: 50px;

}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 157px;
    min-height: 58px;
    outline: none;
    border: 1px solid #7a7a7a ;
    border-radius: 75px;
    color:#000;
    font-size: 20px;
    font-weight: 500;
    background: plum;
    cursor: pointer;
}
.nav-login-cart button:active{
    background:rgb(238, 185, 238);
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}